.companyName{
    font-size: 150%;
}

.mat-toolbar{
  height: 9vh;
}
.material-icons{
    font-family: 'Material Icons' !important;
}
.mat-toolbar.mat-primary{
    background: white;
    color: black;
}

div {
    overflow: inherit;
}
.div-right {
    border: 1px #e8e6e6 solid;
    margin-left: 20px;

}
.div-border {
    margin: 15px;
    border-bottom: 1px solid #e8e6e6;
    padding-bottom: 10px;
}

.mat-sidenav-container{
  min-height: 93vh !important;
}
.mat-icon {
    vertical-align: bottom;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button{
    font-size: 110%;
    min-width: min-content;
}
.detail-div {
    // margin-left: 10px;
    // margin-top: 10px;
    margin: 15px;
}

.example-icon {
    padding: 0 14px;
  }
.heading {
    padding: 15px;
}

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }

  .container {
    height: 100vh;
  }
  
  .left {
    background-color: white;
  }
  
  .right {
    background-color: white;
  }

.primary-button {
    background-color: red;
    color: white;
    float: right;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
}
.label-text1{
    font-size: 20px;
}

.label-text {
    font-size: 20px;
    padding-left: 10px;
    text-align: initial;
}
.column {
    float: left;
    width: 20%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: initial;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}